ignore_regexps = [
    r"@minor", r"!minor",
    r"@wip", r"!wip",
    r"^(?![a-z]{2,}\s*:).*$",
    r"^[ci|minor|style]\s*:.*$",
    r"^$",
]

section_regexps = [
    ("Chores", [r"^chore\s*:.*$"]),
    ("Features", [r"^(feat(ure)?)\s*:.*$"]),
    ("Fixes", [r"^fix\s*:.*$"]),
    ("Major Changes", [r"^maj(or)?\s*:.*$"]),
    ("General Changes", None), ## Match all lines
]

body_process = noop

subject_process = (
    strip
    | ReSub(r"^([a-z]{2,}\s*:\s*)([a-z]{2,}\s*:\s*)?(.*)$", r"\3")
    | ReSub(r"^([^@]*)(@[a-z]+\s+)*$", r"\1")  # remove tags
    | ucfirst
    | final_dot
)

tag_filter_regexp = r"^[0-9]+\.[0-9]+(\.[0-9]+)?$"

unreleased_version_label = "(unreleased changes)"

output_engine = rest_py

include_merge = True
